#clockcontainer{
    border:3px solid red;
    margin:auto;
    height: 40vw;
    width:40vw;
    background:url(https://i.etsystatic.com/24209782/r/il/f8375a/2562621191/il_794xN.2562621191_abjd.jpg);
    background-repeat: no-repeat;

}